<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Slet sogn</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<div align="center" class="container my-2">

    <br>
    <fieldset style="width: 100%">
        <legend style="color: red; background-color: white; border: 2px solid black">Advarsel: Sogn slettes!</legend>
        <br>
        <form name="delete_sogn" action="/delete" method=POST>

            Sogn ID som slettes :
            <input type="number" id="id" required min="1" step="1" name="id">
            <button class="button" type="submit"
                    onclick="return confirm('Are you sure you want to delete this booking?')">Slet Sogn
            </button>

        </form>
    </fieldset>
</div>
</body>
</html>